.navbar {
  background-color: #2a303c;
  color: white;
  /* box-shadow: 0 2px 6px rgba(0, 0, 0, 0.24);
  margin-bottom: 2px; */
}

.container {
  display: flex;
  align-items: center;
  margin: auto;
  width: 90%;
}

.container a {
  text-decoration: none;
}

.container h1 {
  color: white;
  margin-left: 1rem;
  text-decoration: none;
}

.navigation {
  margin-left: auto;
}

.navigation a {
  color: white;
  text-decoration: none;
  display: none;
  font-size: 1.25rem;
}

.navigation a:last-of-type {
  margin-left: 1rem;
}

@media (min-width: 40rem) {
  .container {
    width: 75%;
  }

  .navigation a {
    display: inline-block;
  }

  .hamburger {
    display: none;
  }
}
