.navbar {
  background-color: #2a303c;
  color: white;
  height: 5rem;
}

.navbar a {
  text-decoration: none;
}

.logo-container {
  display: flex;
  align-items: center;
}

.logo-container h2 {
  margin-left: 0.5rem;
  font-family: 'Merienda One', cursive;
  color: #fff;
}

.container {
  display: flex;
  align-items: center;
  margin: auto;
  width: 90%;
}

.navigation {
  margin-left: auto;
}

.navigation a {
  color: #fff;
  text-decoration: none;
  display: none;
  font-size: 1.25rem;
  margin-bottom: -1.8rem;
  padding-bottom: 1.4rem;
  border-bottom: 0.45rem solid #2a303c;
}

.navigation a:last-of-type {
  margin-left: 1rem;
}

@media (min-width: 40rem) {
  .container {
    width: 75%;
  }

  .navigation a {
    display: inline-block;
  }

  .hamburger {
    display: none;
  }
}
