.sidebar {
  width: 100%;
  background-color: #242933;
  color: white;
  height: 20vh;
}

.container {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.button {
  border: 1px solid #fff;
  border-radius: 100rem;
  padding: 0.4rem 1.6rem;
  transition: background-color 0.2s;
  transition-timing-function: ease-in-out;
  text-align: center;
  cursor: pointer;
  background: transparent;
  color: white;
  font-size: 1rem;
  letter-spacing: -0.014rem;
}

.button:hover,
.button:focus,
.button:active {
  background: hsla(0, 0%, 100%, 0.12);
}

@media (min-width: 50rem) {
  .sidebar {
    height: 100vh;
    max-width: 30%;
    overflow: hidden;
  }
}
