.sidebar {
  width: 100%;
  background-color: #242933;
  color: white;
  height: 30vh;
}

.container {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

@media (min-width: 40rem) {
  .sidebar {
    height: 100vh;
    max-width: 30%;
    overflow: hidden;
  }
}
