.sidebar {
  width: 100%;
  background-color: #242933;
  color: white;
  height: 30vh;
  background-size: cover;
  background-position: left 10% top 50%;
}

.container {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.banner {
  background: hsla(0, 0%, 0%, 0.6);
  width: 100%;
  text-align: center;
}

.banner h1 {
  margin: 1.75rem 0;
  font-family: 'Merienda One', cursive;
}

@media (min-width: 40rem) {
  .sidebar {
    height: 100vh;
    min-width: 20rem;
    max-width: 30%;
    overflow: hidden;
  }
}

@media (min-width: 100rem) {
  .sidebar {
    max-width: 25%;
  }
}
